<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091987990913-9qqq8ncvd8ji73l5ka7v7tt8jg83o1sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091987990913-9qqq8ncvd8ji73l5ka7v7tt8jg83o1sj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1091987990913-402b6ichbssqip1vdj4p82gmcinait2f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDsCP9upqdoWHoVrkfPn44A-XRKEmPVqc</string>
	<key>GCM_SENDER_ID</key>
	<string>1091987990913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drinklink.fleephi</string>
	<key>PROJECT_ID</key>
	<string>drinklink-40541</string>
	<key>STORAGE_BUCKET</key>
	<string>drinklink-40541.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091987990913:ios:0596b7c747ef4cf157a080</string>
	<key>DATABASE_URL</key>
	<string>https://drinklink-40541.firebaseio.com</string>
</dict>
</plist>